<div class="footer__cta">

		<div class="grid-container">

		  <div class="grid-x grid-margin-x">

		  	<div class="cell medium-8">
		  		<h1>Try Skygear. Its awesome.</h1>
		  		<p>Serverless microservices framework for modern app development</p>
		  	</div>

		  	<div class="cell medium-4 medium-text-right">
		  		<a href="https://oursky.us2.list-manage.com/subscribe?u=34db69ee3e01fe49e12302054&id=7812f36a5a" target="_blank" class="footer__cta__button">Join Beta</a>
		  	</div>

		  </div>

	  </div>

</div>

<div class="footer__resources">
	<div class="grid-container">

		  <div class="grid-x grid-margin-x">

		  	<div class="cell medium-6">
		  		<p class="footer__resources__title">Looking for resources?</p>
		  	</div>

		  	<div class="cell medium-6 text-left medium-text-right">
		  		<ul>
			  		<li><a href="https://docs.skygear.io/" target="_blank">Documentations</a></li>
			  		<li><a href="https://github.com/skygeario" target="_blank">Github</a></li>
			  		<li><a href="https://docs.skygear.io/guides/intro/quickstart/ios/" target="_blank">Tutorials</a></li>
		  		</ul>
		  	</div>

		  </div>

	  </div>

</div>

<footer>
 <div class="grid-container">
 	 <div class="grid-x grid-margin-x">
 	 	<div class="cell medium-6">
 	 		<img src="assets/img/logo-skygear-w.svg" class="footer__logo">
 	 		<p></p>
 	 	</div>
 	 	<div class="cell medium-2">
 	 		<span class="footer__sitemap__title">Learn</span>
 	 		<ul class="footer__sitemap__list">
 	 			<!-- <li><a href="#">Pricing</a></li>-->
 	 			<li><a href="https://skygear.io/blog/" target="_blank">Blog</a></li>
 	 			<li><a href="https://demo.skygear.io/" target="_blank">Demo Projects</a></li>
 	 			<li><a href="https://docs.skygear.io/" target="_blank">Documentation</a></li>
 	 			<li><a href="https://docs.skygear.io/guides/intro/quickstart/ios/" target="_blank">Tutorials</a></li>
 	 			<!-- <li><a href="#">Terms of Services</a></li>
 	 			<li><a href="#">SLA</a></li>-->
 	 		</ul>
 	 	</div>
 	 	<div class="cell medium-2">
 	 		<span class="footer__sitemap__title">Company</span>
 	 		<ul class="footer__sitemap__list">
 	 			<!--<li><a href="#">About</a></li>-->
 	 			<li><a href="https://github.com/orgs/SkygearIO/people" target="_blank">Team</a></li>
 	 			<li><a href="mailto:hello@skygear.io">Contact</a></li>
 	 			<li><a href="https://jobs.oursky.com/" target="_blank">Jobs</a></li>
 	 		</ul>
 	 	</div>
 	 	<div class="cell medium-2">
 	 		<span class="footer__sitemap__title">Connect</span>
 	 		<ul class="footer__sitemap__list">
 	 			<li><a href="https://twitter.com/skygeario" target="_blank">Twitter</a></li>
 	 			<li><a href="https://www.facebook.com/oursky.hk" target="_blank">Facebook</a></li>
 	 			<li><a href="https://github.com/skygeario" target="_blank">Github</a></li>
 	 			<li><a href="https://discuss.skygear.io/" target="_blank">Discourse</a></li>
 	 		</ul>
 	 	</div>
 	 </div>

 	 <div class="footer__copyright">
 	  <div class="grid-x grid-margin-x">
 	 	<div class="cell medium-6 text-left">
 	 		<a href="mailto:hello@skygear.io">hello@skygear.io</a>
 	 	</div>
 	 	<div class="cell medium-6 medium-text-right">
 	 		© Oursky Ltd. All rights reserved
 	 	</div>
		</div>
	</div>


 </div>

</footer>

{% include foot.html %}
