// --------------------------------------------------
// Theme
// --------------------------------------------------

// Typo


//Grid container config
@media screen and (min-width: 40em) {

.grid-container {
	padding-right: 2.2rem;
	padding-left: 2.2rem;
}

}

// Nav

header {
	
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	background: rgba(255,255,255,0.8);
	z-index: 999;
	-webkit-backdrop-filter: blur(10px);
}

.header__logo {
	padding-top: 5px;
}

.header__nav {
	ul li a {
		font-size: 14px;
	}
	float: right;

}

.header__cta {
	padding: 10px 20px;
	box-shadow: rgba(28,37,87,0.25) 0 0 20px;
	background-color: #fff;
	margin-left: 30px;
}


// Home -- Hero 

.home__hero {
	padding-top:30vh;
	padding-bottom: 20vh;
	position: relative;
	
}


.home__hero__img {
	height: 80vh;
	width: 50%;
	background: url(../img/hero.png) center right no-repeat;
	background-size: 100% auto;
	position: absolute;
	top:45px;
	right: 0;
}

.home__hero__tagline {
	padding-bottom: 50px;
}

.home__hero__cta {
	color: #fff;
	background-color: $sgblue;
	padding: 15px 20px;
	border-radius: 2px;
	box-shadow: rgba(0,0,0,0.3) 0 0 10px;
}

.home__features {
	padding: 80px 0;
}

.home__feature {
	color: #fff;
	padding: 20px;
	box-shadow: rgba(0,0,0,0.3) 0 0 20px;
	position: relative;
	z-index: 99;

	&__img {
		width: 32px;
		height: 32px;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 14px;
		font-weight: 900;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	p {
		line-height: 16px;
	}

	&--1 {
		@extend .home__feature;
		background: #34CFB3;
	}
	&--2 {
		@extend .home__feature;
		background: #FF6D4A;
	}
	&--3 {
		@extend .home__feature;
		background: #255FFF;
	}
	&--4 {
		@extend .home__feature;
		background: #4442D3;
	}
}

.home__content {
	padding: 50px 0;
	&__perks {
		padding: 10px 0;
	}
}

.home__sample {

	&__block {
		padding: 20px 20px 40px;
		background: #fff;
		box-shadow: rgba(0,0,0,0.2) 0 0 20px;
		margin: 20px;
	}

	&__desc {
		opacity: 0.5;
	}

	&__icon {
		width: 72px;
		height: 64px;
		padding-top: 48px;
		display: inline-block;
		margin-bottom: 20px;
		img {
			display: inline;
			max-height: 64px;
			height: 64px;
			width: auto;
		}
	}

}

.home__content {
	h1,h2,h3,h4,h5 {
		color: $sgblue;
	}
}

.home__faq {
	padding: 50px 0;
	&__row {
		padding: 20px 0;
		border-bottom: 1px solid #aaa;
	}
}

//FOOTER 

.footer__cta {
	padding: 80px 0;
	background-color: #0064FF;
	color: #fff;
	&__button {
		background:#fff;
		padding: 22px 60px;
		color: #0064FF;
		margin-top: 20px;
		display: inline-block;
	}
}

.footer__resources {
	padding: 40px 0 30px;
	background-color: #055ADD;
	color: #fff;
	&__title {
		font-weight: 700;
	}
	ul {
		list-style: none;
		display: inline-block;
		li {
			float: left;
			padding-left: 20px;
		}
		a {
			color: #fff;
		}
	}
}
