---
layout: default
---


<section class="home__hero">
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-7">
    	
    	<div class="home__hero__tagline">
	    	<h1>Building Apps? <br> We've got your back</h1>
	    	<p>Skygear, an open source serverless platform for modern app development</p>
    	</div>

    	<a href="https://oursky.us2.list-manage.com/subscribe?u=34db69ee3e01fe49e12302054&id=7812f36a5a" target="_blank" class="home__hero__cta">Join Beta</a>
    </div>
    <div class="cell medium-5">
    	<div class="home__hero__img">

    	</div>
    </div>
  </div>
</div>

</section>

<section class="home__features">
	
<div class="grid-container">

  <div class="grid-x grid-margin-x">

    <div class="cell medium-3">
    	<div class="home__feature--1">
    		<div class="home__feature__img"><img src="{{ site.baseurl }}/assets/img/f-1.png"></div>
    		<h3>Cross Platform</h3>
    		<p>Access the APIs via the Android, iOS and JS SDK.</p>
    	</div>
    </div>
    <div class="cell medium-3">
    	<div class="home__feature--2">
    		<div class="home__feature__img"><img src="{{ site.baseurl }}/assets/img/f-2.png"></div>
    		<h3>Deploy In Secs</h3>
    		<p>Deploy microservices or cloud functions in secs with SkyCLI</p>
    	</div>
    </div>
    <div class="cell medium-3">
    	<div class="home__feature--3">
    		<div class="home__feature__img"><img src="{{ site.baseurl }}/assets/img/f-3.png"></div>
    		<h3>Reusable Micro-services</h3>
    		<p>Secure and out-of-the-box user authentication services at your fingertips.</p>
    	</div>
    </div>
    <div class="cell medium-3">
    	<div class="home__feature--4">
    		<div class="home__feature__img"><img src="{{ site.baseurl }}/assets/img/f-4.png"></div>
    		<h3>Kubernetes-Based</h3>
    		<p>Leverage the latest infrastructure technology and enjoy auto scalability.</p>
    	</div>
    </div>

  </div>

</div>
    	

</section>

<section class="home__content">

	<div class="grid-container">

		  <div class="grid-x grid-margin-x">

		  	<div class="cell medium-6">
		  		<img src="{{ site.baseurl }}/assets/img/architect.png" class="home__content__archi">
		  	</div>

		  	<div class="cell medium-6">
		  		<h3>Just Push Your Code</h3>

		  		<p>Skygear allows developers to deploy microservices or cloud functions to production with a simple command line, and invoke the functions in the app via the Skygear SDKs configured with the right endpoint. Leave all the backend troubles to us. Just push your code.</p>

		  		<p><a href="https://github.com/skygeario" target="_blank" class="button">View Github</a></p>
		  	</div>

		  </div>

  </div>

</section>

<section class="home__content home--greybg">

	<div class="grid-container">

		  <div class="grid-x grid-margin-x">

		  	<div class="cell medium-3">
		  		<img src="{{ site.baseurl }}/assets/img/auth.png">
		  	</div>

		  	<div class="cell medium-9">
		  		<h3>Secure User Authentication Service</h3>

		  		<p>Most apps require user authentication. Skygear provides a secure user authentication service out-of-the-box that can be integrated with your microservices or cloud functions seamlessly. Save time reinventing the wheel!</p>

		  		<div class="grid-x grid-margin-x">
		  			<div class="cell medium-4">
		  				<div class="home__content__perks"><span class="icon__check"></span> <span class="home__content__perkslabel">Login with username and password</span></div>
		  			</div>

		  			<div class="cell medium-4">
		  				<div class="home__content__perks"><span class="icon__check"></span> <span class="home__content__perkslabel">Google, Facebook, LinkedIn login</span></div>
		  			</div>

		  			<div class="cell medium-4">
		  				<div class="home__content__perks"><span class="icon__check"></span> <span class="home__content__perkslabel">Passwordless login</span></div>
		  			</div>

		  			<div class="cell medium-4">
		  				<div class="home__content__perks"><span class="icon__check"></span> <span class="home__content__perkslabel">Email/SMS verification</span></div>
		  			</div>

		  			<div class="cell medium-4">
		  				<div class="home__content__perks"><span class="icon__check"></span> <span class="home__content__perkslabel">Forgot password</span></div>
		  			</div>

		  			<div class="cell medium-4">
		  				<div class="home__content__perks"><span class="icon__check"></span> <span class="home__content__perkslabel">Password policy</span></div>
		  			</div>

		  			<div class="cell medium-4">
		  				<div class="home__content__perks"><span class="icon__check"></span> <span class="home__content__perkslabel">Session management</span></div>
		  			</div>

		  			<div class="cell medium-4">
		  				<div class="home__content__perks"><span class="icon__check"></span> <span class="home__content__perkslabel">2-Factors Authentication</span></div>
		  			</div>
		  			

		  		</div>
		  	</div>

		  </div>

  </div>


</section>


<section class="home__content">

	<div class="grid-container">

		  <div class="grid-x grid-margin-x">

		  	<div class="cell medium-6">
		  		<h3>Extensive Services Marketplace</h3>
		  		<p>There will be more out-of-the-box services to come: push notifications, real-time chatroom and CMS. These are common functions required by most apps and it is our vision to free developers from writing similar logic all over again and again.</p>

		  	</div>

		  	<div class="cell medium-6">
		  		<h3>Say GoodBye to Vendor Lock-in</h3>
		  		<p>The least thing developers want is vendor lock-in. We learnt from the experiencnes of the shut down of Parse and we decide to open source Skygear from day 1. Developers are given the freedom to migrate from the Skygear platform anytime.</p>

		  	</div>

		  </div>

	</div>

</section>


<section class="home__sample home--greybg">

	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12">
			<h3>Start with sample projects</h3>
			<p style="opacity: 0.5;">Coming Soon...</p>
			</div>
		</div>

		<div class="grid-x">
			<div class="cell medium-3">

				<div class="home__sample__block">
					<div class="home__sample__title">Native iOS app </div>
					<div class="home__sample__desc">with Node.js runtime</div>
					<div class="home__sample__icon">
						<img src="{{ site.baseurl }}/assets/img/badge-ios.png">
					</div>
				</div>

			</div>

			<div class="cell medium-3">

				<div class="home__sample__block">
					<div class="home__sample__title">Native Android app </div>
					<div class="home__sample__desc">with Node.js runtime</div>
					<div class="home__sample__icon">
						<img src="{{ site.baseurl }}/assets/img/badge-android.png">
					</div>
				</div>

			</div>

			<div class="cell medium-3">

				<div class="home__sample__block">
					<div class="home__sample__title">Reactjs app </div>
					<div class="home__sample__desc">with Node.js runtime</div>
					<div class="home__sample__icon">
						<img src="{{ site.baseurl }}/assets/img/badge-react.png">
					</div>
				</div>

			</div>

			<div class="cell medium-3">

				<div class="home__sample__block">
					<div class="home__sample__title">React Native app </div>
					<div class="home__sample__desc">with Node.js runtime</div>
					<div class="home__sample__icon">
						<img src="{{ site.baseurl }}/assets/img/badge-react.png">
					</div>
				</div>
			</div>


			</div>
		</div>
	</div>

</section>

<section class="home__faq">

	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-12 text-center">
				<h2>FAQ</h2>
			</div>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell medium-8 medium-offset-2">
				 <div class="home__faq__row"><p>

				 <a href="#">What backend programming languages do you support?</a></p>
				<p>
				We support Node.js, Python and Go at this moment. You can also choose to deploy a Docker image.
				</p>
				</div>

				 <div class="home__faq__row"><p>

				 <a href="#">Is Skygear free?</a></p>
				<p>
				You can use the open source community edition for free. If you do not want the hassle to manage the servers, you can also subscribe to the Skygear cloud services.
				</p>
				</div>

				 <div class="home__faq__row"><p>

				 <a href="#">How is Skygear different from other serverless solutions?</a></p>
				<p>
				We strive to bring serverless to app development. While most serverless solutions focus just on the ease to deploy serverless workloads, we intead focus on reinventing the backend development experiences and provide an integrated app development ecosystem for developers.
				</p>
				</div>

				 <div class="home__faq__row"><p>

				 <a href="#">How can I connect my database to Skygear?</a></p>
				<p>
				At this moment, you can subscribe to any managed database services and add the database url to Skygear as a secret so that you can access the database within the Skygear ecosystem.
				</p>
				</div>
			</div>


</section>


<section class="home__content">

	<div class="grid-container">

		  <div class="grid-x grid-margin-x">

		  	<div class="cell medium-6">
		  		<h3>About Us</h3>
		  		<p>We are a team of expert experienced on digital product development. Skygear is a cloud backend for making web, mobile and IoT app development easier. </p>
		  	</div>

		  	<div class="cell medium-6">
		  		<h3>Coming from v1?</h3>
		  		<p>If you are a previous Skygear v1 user and needed support, please don't hesitate to contact us via <a href="mailto:hello@skygear.io">email</a>.</p>

		  	</div>

		  </div>

	</div>

</section>
