---
layout: default
---

<div class="page__container pricing__container">


<div class="grid-container">
	<div class="grid-x grid-margin-x">

		<div class="cell medium-8 small-12">

			<h1 class="pricing__title">Pricing</h1>

			
		</div>

	</div>

</div>


<section class="pricing__bg">

<div class="grid-container">

  <div class="grid-x grid-margin-x">

  	<div class="cell large-4 small-12 large-offset-2 medium-6">

		<div class="pricing__table">
			<h3>Free</h3>
			<p>
				Deploy microservices on Skygear's hosted Kubernetes as Services Mesh.
			</p>
			<p>
				Use all features of Skygear Auth to boost your app's security and develop faster
			</p>
			<p> <ul>
					<li>2 Microservices</li>
					<li>0.5 vCPU, 512MB RAM</li>
					<li>1000 Active Users</li>
					<li>Account remove if not login for 90 days</li>
					<li>No SLA</li>
				</ul>
			</p>
			<p>
				<a href="https://portal.skygear.dev/sign-up" target="_blank"
				  class="button">Join Beta</a>
			</p>
		</div>		

	</div>


	
	<div class="cell large-4 small-12 medium-6">

		<div class="pricing__table">
			<h3>Enterprise</h3>
			<p class="pricing__table__enterprise">Run Skygear in your own infrastructure or hosted on a Cloud.</p>

			<p>Improve your web / mobile app security with Skygear. </p>

			<p> 
				<ul>
					<li>Hosted or run on your own cloud</li>
					<li>Flexible instance size</li>
					<li>Enterprise Grade SLA support</li>
					<li>Professional Support and Services</li>
					<li>Security, DevOps, Microservices Consultations</li>
				</ul>
			</p>

			<p>
				<a href="mailto:hello@skygear.io" target="_blank" class="button">Contact Us</a>
			</p>
		</div>

	</div>



  </div>
  </div>

  </section>




</div>

<section class="home__content">

	<div class="grid-container">

		  <div class="grid-x grid-margin-x">

		  	<div class="cell medium-6">
		  		<h3>About Us</h3>
		  		<p>We are a team of expert experienced on digital product development. Skygear is a cloud backend for making web, mobile and IoT app development easier. </p>
		  	</div>

		  	<div class="cell medium-6">
		  		<h3>Coming from v1?</h3>
		  		<p>If you are a previous Skygear v1 user and needed support, please don't hesitate to contact us via <a href="mailto:hello@skygear.io">email</a>.</p>

		  	</div>

		  </div>

	</div>

</section>
